* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

button {
    
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
    
}


.containerophold1 {
    overflow: hidden;
    width: 100%;
}

.containerophold2 {
    overflow: hidden;
    width: 100%;
}

.containerophold3 {
    overflow: hidden;
    width: 100%;
}

.container-background {
    overflow: hidden;
    width: 100%;
    
    background-size: cover;
}



a {
    text-decoration: none;
}

footer {
    background-color: #2A4F57;
    text-align: center;
    padding: 50px 0 50px 0;
    margin-top: -50px;
}

footer img {
    width: 32px;
}
.sociale-medier {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px 0 20px 0;
}
.sociale-medier a{
   color: white;
   font-size: 30px;
   
}

.footerlogo {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 28px;
    font-family: 'Zen Loop', cursive;
    gap: 10px;
    
}

.footerlogo p{
    padding-top: 2px;
    font-weight: 300;
}

.footerlogo img {
    display: block;
max-width: 32px;
max-height: 32px;
height: auto;
width: auto;
}


