#dropdown{
    
    display: none;
    position: absolute; 
    font-family: 'Zen Loop', cursive;
    font-size: 30px;
    background-color: #849B97;
    width: 100%;
    padding-bottom: 40px;
    
}

#dropdown div {
    padding-bottom: 20px;
    
}

#dropdown a {
    text-align: center;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.dropdownnav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdownclose {
    display: flex;
    justify-content: space-between;
    padding: 3vh;
}

.dropdownclose img{
    width: 42px;
}