.fa-bars:hover, #dropdown a:hover {
color:#2A4F57;
}

.fa-facebook-square:hover, .fa-instagram:hover {
    color: gray;
}

.booknu:hover, .submitbutton-container:hover, .seophold:hover, .laesmere:hover, .aktiviteter-laesmere-button:hover, .ophold-footer:hover{
    background-color: gray;
    border-color: transparent;
}

.computernav a:hover {
    background-color: rgba(128, 128, 128, 0.5);
    border-color: transparent;
}

option:hover {
    background-color: #2A4F57;
    color: white;
}