form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.label-container  {
    padding-bottom: 20px;
}
.label-container p {
    padding-bottom:5px;
    font-family: 'Zen Loop', cursive;
    font-size: 30px;
}

input {
    color: white;
    background-color: #34626C;
    border: 1px solid white;
    border-radius: 50px;
    padding:5px 25px;
    font-size: 30px;
    width: 45vh;
    font-family:'Zen Loop', cursive;
}

select {
    color: white;
    background-color: #34626C;
    border: 1px solid white;
    border-radius: 50px;
    padding:5px 25px;
    font-size: 30px;
    width: 45vh;
    font-family:'Zen Loop', cursive;
    font-weight: 400;
    background: url(/Gittes_Glamping_Assets/chevron-down-solid.svg) no-repeat 95% 50%;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}


textarea {
    color: white;
    background-color: #34626C;
    border: 1px solid white;
    border-radius: 30px;
    padding:5px 15px 205px 15px;
    width: 45vh;
    font-size: 30px;
    font-weight: 400;
    font-family:'Zen Loop', cursive;
    margin-bottom: 10px;
}

.submitbutton-container {
    background-color: #839B97;
    font-size: 30px;
    font-family: 'Zen Loop', cursive;
    border-radius: 45px 0;
    padding: 30px 20px;
    width: 30vh;
}