.medlemtak {
    font-family: 'Zen Loop', cursive;
    height: 61.6vh;
    font-size: 40px;
    top: 0;
    width: 100%;
    padding: 80px 0 60px 0;
   
    
}
.medlemtak p {
    padding: 0 40px 30px 40px;
    color: white;
}

.medlemtakbutton {
    padding-top: 30px;
    
}
.medlemtakbutton a {
    text-decoration: none;
    background-color: #839B97;
    color: #D7E6EC;
    border-radius: 55px 0;
    padding: 15px 80px 15px 80px;
}