


@media (min-width: 728px) {
    
    .computernav{
    display: flex;
    justify-content: space-between;
}

.label-container h2 {
    font-size: 50px;
}

input, select, textarea {
    width: 60vh;
}



.computernav a{
   
    padding: 0 20px;
    
    border-radius: 20px;
    text-decoration: none;
    color: white;
    margin-right: 10px;
    margin-left: 10px;
    font-family: 'Zen Loop', cursive;
    font-size: 40px;
    display: flex;
    align-items: center;
}

    .headerlogo {
        display: none;
    }

    .topnav a {
        display: none;
    }

    .header2 p {
        padding: 0 60px;
       font-size: 20px;
    }
    
    .header2 h1 {
        font-size: 80px;
        padding: 0 60px;
    }

    .anbefalinger-container {
        display: flex;
        flex-direction: row;
        padding: 50px 30px 0 30px;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

}




@media (min-width: 1024px) {

    .aktiviteter-element {
        margin-bottom: 170px;
    }

    .aktiviteter-laesmere {
        width: 35vh;
    }

    .aktiviteter-laesmere-button {
        width: 30vh;
    }





    .computernav {
        margin: 10px 60px 0 60px;
    }


    .aktiviteter-container {
        flex-direction: row;
    }

    .aktiviteter-img img {
        width: 40vh;
        height: 40vh;
        transform: translate(0, 35%)
    }


    

    

    .anbefaling-element p {
        font-size: 12px;
    }

}

@media (min-width: 1178px) {

    .anbefaling-element {
        height: 300px;
        width: 29vh;
    }

   

    .ophold-container {
        flex-direction: row;
        height: 100%;
        align-content: center;
        justify-content: center;
    }



}








@media screen and (min-width: 924px) {

    .ophold-container {
        padding: 150px 150px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }
    .ophold-element {

        width: calc(50% - 20px);
        margin-bottom: 30px;
    }

    .content-text {
        width: 50vw;
    }
    
} 

@media screen and (min-width: 1296px) {

    .ophold-element {
        
        width: calc(33% - 10px);

    }
    

} 
