@media (min-width: 728px) {
    
    .computernav{
    display: flex;
    justify-content: space-between;
}


.computernav a{
   
    padding: 0 20px;
    margin-top: 20px;
    
    border-radius: 20px;
    text-decoration: none;
    color: white;
    margin-right: 10px;
    margin-left: 10px;
    font-family: 'Zen Loop', cursive;
    font-size: 40px;
    display: flex;
    align-items: center;
}

    .topnav a {
        display: none;
    }
}

@media (min-width: 1024px) {

    .container4 {
        background-position: 80% 50%;
    }

    .container2 {
         background-position: top;
        
    }

    .aktiviteter-container {
        flex-direction: row;
    }

    .aktiviteter-img img {
        width: 40vh;
        height: 40vh;
        transform: translate(0, 35%)
    }

    .anbefalinger {
        flex-direction: row;
    }


    .ophold-container {
        flex-direction: row;
        height: 100%;
        align-content: center;
        position: relative;
        justify-content: center;
    }

    .ophold-element {
        padding-bottom: 0;
    }

    .ophold-img{
        position: relative;
    }


    .ophold-img img {
        width: 40vh;
        height: 40vh;
    }

    .ophold-tekst-container {
        position: absolute;
        transform: translate(0,-28%);
    }
}